In [ ]:
import ee
import numpy as np
import pandas as pd

In [ ]:
ee.Authenticate()

To authorize access needed by Earth Engine, open the following URL in a web browser and follow the instructions. If the web browser does not start automatically, please manually browse the URL below.

    https://accounts.google.com/o/oauth2/auth?client_id=517222506229-vsmmajv00ul0bs7p89v5m89qs8eb9359.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fearthengine+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdevstorage.full_control&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&code_challenge=Cacqh_3RoFT-QvgmOqfHz661dBPuJoTgp08vNtHdaD4&code_challenge_method=S256

The authorization workflow will generate a code, which you should paste in the box below.
Enter verification code: 4/1AY0e-g6-cH-DUDilXbfTjJQqKQj8pSYJgldvf9jZe7_ZDXjRuOLvRUTdfsY

Successfully saved authorization token.

In [ ]:
ee.Initialize()

In [ ]:
pip install us

Collecting us
  Downloading https://files.pythonhosted.org/packages/88/04/04323aefa1871de30286d3decae7706481c73bd428cf0c08e158bfa259a6/us-2.0.2.tar.gz
Collecting jellyfish==0.6.1
  Downloading https://files.pythonhosted.org/packages/61/3f/60ac86fb43dfbf976768e80674b5538e535f6eca5aa7806cf2fdfd63550f/jellyfish-0.6.1.tar.gz (132kB)
     |████████████████████████████████| 133kB 4.2MB/s
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-cp36-none-any.whl size=11929 sha256=c0963ed9bf848221d0361617a365a57c7b70736ad396149fcf4d3be53af9f632
  Stored in directory: /root/.cache/pip/wheels/e2/16/45/6453383ffa495670f0f6b80a3e697a9771d98cfbaf8b451e73
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp36-cp36m-linux_x86_64.whl size=74757 sha256=69822a31973b27e4a2543c11c4b584258138c150bda36ee0b3bcc77964628a9e
  Stored in directory: /root/.cache/pip/wheels/9c/6f/33/92bb9a4b4562a60ba6a80cedbab8907e48bc7a8b1f369ea0ae
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

In [ ]:
import us

In [ ]:
oregon_aoi = ee.Geometry.Polygon([[[-124.1, 43.38], [-124.1, 42.88], [-123.6, 42.88], [-123.6, 43.38]]])

oregon_1 = ee.Geometry.Polygon(
        [[[-124.8, 46],
          [-124.8, 42],
          [-122.8, 42],
          [-122.8, 46]]])
washington_1 = ee.Geometry.Polygon(
        [[[-124.8, 49],
          [-124.8, 46],
          [-122.2, 46],
          [-122.2, 49]]])
washington_2 = ee.Geometry.Polygon(
        [[[-122.2, 49],
          [-122.2, 46],
          [-119.4, 46],
          [-119.4, 49]]])
washington_3 = ee.Geometry.Polygon(
        [[[-119.4, 49],
          [-119.4, 46],
          [-116.82, 46],
          [-116.82, 49]]])
oregon_2 = ee.Geometry.Polygon(
        [[[-122.8, 46],
          [-122.8, 42],
          [-120.8, 42],
          [-120.8, 46]]])
oregon_3 = ee.Geometry.Polygon(
        [[[-120.8, 46],
          [-120.8, 42],
          [-118.8, 42],
          [-118.8, 46]]])
oregon_4 = ee.Geometry.Polygon(
        [[[-118.8, 46],
          [-118.8, 42],
          [-116.82, 42],
          [-116.82, 46]]])

whole_pnw = ee.Geometry.Polygon(
        [[[-124.8, 49],
          [-124.8, 42],
          [-116.82, 42],
          [-116.82, 49]]]
)

pnw_aois = [oregon_1, oregon_2, oregon_3, oregon_4, washington_1, washington_2, washington_3]

img = ee.Image("users/connorr/national_c2014_tree_list")

In [ ]:
def compute_band_values(img: ee.Image, aoi: ee.Geometry.Polygon, band: str, scale: int) -> np.array:
  return np.array(
    ee.List(img.clip(aoi).reduceRegion(
        reducer=ee.Reducer.toList(),
        geometry=aoi,
        maxPixels=1e13,
        scale=scale
      ).get(band)).getInfo()#.distinct().getInfo()
)
  

def band_values_to_df(array: np.array, stand_lookup: pd.DataFrame, existing_data: pd.DataFrame):
  val, counts = np.unique(array, return_counts=True)
  count_df = pd.DataFrame({"tl_id": val, "aoi_count": counts})

  output_df = stand_lookup.merge(count_df, on="tl_id", how="inner").reset_index(drop=True).sort_values("aoi_count", ascending=False)[["tl_id", "STAND_CN", "STAND_ID", "VARIANT", "STATECD", "aoi_count"]]
  output_df["FVS_DATA_EXISTS"] = output_df.STAND_ID.isin(existing_data.StandID)
  return output_df


def state_code_to_name(row):
  state_code = f"{row['STATECD']}".zfill(2)
  return us.states.lookup(state_code).name


def plot_to_variant_df(df: pd.DataFrame):
  variant_df = df.groupby(by=["VARIANT", "STATECD", "FVS_DATA_EXISTS"]).agg({"tl_id": "count", "aoi_count": "sum"}).rename({"tl_id": "UNIQUE_TL_IDS", "aoi_count": "TOTAL_PLOTS"}, axis=1).sort_values("TOTAL_PLOTS", ascending=False).reset_index()
  variant_df["STATE"] = variant_df.apply(state_code_to_name, axis=1)
  return variant_df[["VARIANT", "STATE", "UNIQUE_TL_IDS", "TOTAL_PLOTS", "FVS_DATA_EXISTS"]]

In [ ]:
pnw_fvs_df = pd.read_csv("combined_FIA_AGB_pnw.csv")

In [ ]:
aoi_values = compute_band_values(img, oregon_aoi, "b1", 30)
plots_df = band_values_to_df(aoi_values, df, pnw_fvs_df)
variants_df = plot_to_variant_df(plots_df)

In [ ]:
variants_df

   VARIANT       STATE  UNIQUE_TL_IDS  TOTAL_PLOTS  FVS_DATA_EXISTS
0       PN      Oregon            201      1447339             True
1       WC      Oregon            122       285417            False
2       CA      Oregon            138       250697            False
3       NC      Oregon             63       163132            False
4       NC  California             58        36786            False
5       WC  Washington             13        13103            False
6       CA  California             58        10588            False
7       PN  Washington             27         9322             True
8       SO      Oregon              4         3096            False
9       WS  California             13         2870            False
10      EC      Oregon             19         2752            False
11      IE       Idaho              8          732            False
12      EC  Washington             12          544            False
13      IE     Montana              2          298            False
14      BM      Oregon              2          262            False
15      AK  Washington              3           45            False
16      SO  California              1           36            False
17      CR     Arizona              1            2            False

In [ ]:
variants_df.to_csv("aoi_variants.csv", index=False)

In [ ]:
aoi_variants.head()

  VARIANT  STATECD  FVS_DATA_EXISTS  unique_tl_ids  total_plots
0      PN       41             True            201      1447339
1      WC       41            False            122       285417
2      CA       41            False            138       250697
3      NC       41            False             63       163132
4      NC        6            False             58        36786

In [ ]:
pnw_values = np.array([])

for aoi in pnw_aois:
  out = compute_band_values(img, aoi, "b1", 60)
  pnw_values = np.append(pnw_values, out)

In [ ]:
pnw_plots_df = band_values_to_df(pnw_values, df, pnw_fvs_df)
pnw_variants_df = plot_to_variant_df(pnw_plots_df)

In [ ]:
pnw_variants_df.head()

  VARIANT       STATE  UNIQUE_TL_IDS  TOTAL_PLOTS  FVS_DATA_EXISTS
0      BM      Oregon           1162      8125106            False
1      PN  Washington            364      7807289             True
2      EC  Washington            987      7515564            False
3      WC      Oregon            833      7462554            False
4      WC  Washington            671      7111305            False

In [ ]:
pnw_variants_df.to_csv("whole_pnw_variants.csv", index=False)

In [ ]:
pnw_df[pnw_df.STATECD == 53]

      tl_id         STAND_CN  ... aoi_count FVS_DATA_EXISTS
8963  75547   44543332020004  ...    715276           False
8207  74354   44543517020004  ...    420695            True
8396  74671   44543576020004  ...    337997            True
8557  74920   22933123010497  ...    317322           False
9984  77103   22954471010497  ...    245063            True
...     ...              ...  ...       ...             ...
9044  75667  345935638489998  ...         1           False
9570  76463   44542148020004  ...         1           False
9640  76565   29883201010497  ...         1           False
8822  75305   48206606010497  ...         1           False
8612  75015  216959617020004  ...         1           False

[2327 rows x 7 columns]

In [ ]:
pnw_df[pnw_df.FVS_DATA_EXISTS].VARIANT.unique()

array(['PN'], dtype=object)

In [ ]:
df = pd.read_csv("USA_StandID_to_TLID_lookup.csv")

In [ ]:
df.head()

    Count               CN  tl_id  ...                STAND_ID VARIANT STATECD
0    1615  175742190010854      1  ...  0001201009050300100006      SN       1
1     101  264157971489998      2  ...  0001201510030300100007      SN       1
2    4800  264159709489998      4  ...  0001201510030300100011      SN       1
3  162139  189296454020004      5  ...  0001201410020300100012      SN       1
4   28440  175742192010854      6  ...  0001201009050300100013      SN       1

[5 rows x 7 columns]

In [ ]:
aoi_df = df[df.tl_id.isin(aoi_values)]

In [ ]:
pnw_df = df[df.tl_id.isin(band_values)]

In [ ]:
pnw_df.head()

      Count               CN  tl_id  ...                STAND_ID VARIANT STATECD
2233  39060   40218378010497   8132  ...     6201005100400159237      CA       6
2234  58730  273642029489998   8133  ...     6201506050400159654      CA       6
2235  98312  216960533020004   8134  ...     6201406040400160685      CA       6
2236  51612   48205813010497   8135  ...  0006201106010400165162      CA       6
2237  70808   48202454010497   8136  ...  0006201106010400171394      CA       6

[5 rows x 7 columns]

In [ ]:
aoi_df.head()

       Count               CN  tl_id  ...                STAND_ID VARIANT STATECD
2290   50741   40224507010497   8197  ...     6201005100500580222      WS       6
2299  195591   22953371010497   8211  ...     6200705070300755719      CA       6
2300    1039  273640317489998   8212  ...  0006201506050300757038      WS       6
2304   13924   30763864020004   8217  ...  0006201206020300760928      WS       6
2316    5729   22953247010497   8232  ...     6200705070300779676      WS       6

[5 rows x 7 columns]

In [ ]:
variants_df.head()

  VARIANT       STATE  UNIQUE_TL_IDS  TOTAL_PLOTS  FVS_DATA_EXISTS
0      PN      Oregon            201      1447339             True
1      WC      Oregon            122       285417            False
2      CA      Oregon            138       250697            False
3      NC      Oregon             63       163132            False
4      NC  California             58        36786            False

In [ ]:
combined_df = pnw_variants_df.merge(variants_df, how="left", on=["VARIANT", "STATE", "FVS_DATA_EXISTS"], suffixes=("_pnw", "_aoi"))
combined_df.head()

  VARIANT       STATE  ...  UNIQUE_TL_IDS_aoi  TOTAL_PLOTS_aoi
0      BM      Oregon  ...                2.0            262.0
1      PN  Washington  ...               27.0           9322.0
2      EC  Washington  ...               12.0            544.0
3      WC      Oregon  ...              122.0         285417.0
4      WC  Washington  ...               13.0          13103.0

[5 rows x 7 columns]

In [ ]:
combined_df.sort_values(["TOTAL_PLOTS_aoi", "TOTAL_PLOTS_pnw"], ascending=False, inplace=True)

In [ ]:
combined_df.to_csv("combined_variants_data.csv", index=False)

In [ ]:
test = combined_df.groupby(["VARIANT", "FVS_DATA_EXISTS"]).agg({"STATE": "unique", "TOTAL_PLOTS_pnw": "sum", "TOTAL_PLOTS_aoi": "sum"}).sort_values(["TOTAL_PLOTS_aoi", "TOTAL_PLOTS_pnw"], ascending=False).reset_index()

In [ ]:
test.to_csv("variant_level_summary_data.csv", index=False)

In [ ]:
df1 = pd.read_csv("pnw_AGB_WC_PN_CA_NC_EC_variants.csv")
df2 = pd.read_csv("pnw_BM_SO_IE_CL_AK_WS_variants.csv")
df3 = pd.read_csv("partial_data_CR_EM_UT_TT_CS.csv")
stand_lookup = pd.read_csv("USA_StandID_to_TLID_lookup.csv")

combined_df = pd.concat([df1, df2, df3]).reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
combined_df.shape

(2008530, 5)

In [ ]:
len(df1) + len(df2) + len(df3)

2008530

In [ ]:
merged_agb_data = pd.merge(combined_df, stand_lookup, how="right", left_on="StandID", right_on="STAND_ID")
grouped_df = merged_agb_data.groupby(["tl_id", "Year", "STATECD"], axis=0, dropna=False).agg({"Aboveground_Total_Live": "sum", "Total_Stand_Carbon": "sum", "STAND_ID": "count"}).reset_index()
grouped_df = grouped_df[["tl_id", "Year", "STATECD", "Aboveground_Total_Live", "Total_Stand_Carbon"]]

In [ ]:
baseline_AGB_TLID = grouped_df[(grouped_df.Year == 2021) | (grouped_df.Year.isnull())].reset_index(drop=True)
baseline_AGB_TLID["Year"] = 2021
baseline_AGB_TLID.to_csv("AGB_pnw_2021_feb11.csv", index=False)

In [ ]:
AGB_TLID_2031 = grouped_df[(grouped_df.Year == 2031) | (grouped_df.Year.isnull())].reset_index(drop=True)
AGB_TLID_2031["Year"] = 2031
AGB_TLID_2031.to_csv("AGB_pnw_2031_feb11.csv", index=False)

In [ ]:
AGB_TLID_2051 = grouped_df[(grouped_df.Year == 2051) | (grouped_df.Year.isnull())].reset_index(drop=True)
AGB_TLID_2051["Year"] = 2051
AGB_TLID_2051.to_csv("AGB_pnw_2051_feb11.csv", index=False)

In [ ]:
coos_county_parcels = ee.FeatureCollection('users/tsongkapa/Coos_county_parcels')
douglas_county_parcels = ee.FeatureCollection('users/tsongkapa/Douglas_county_parcels')

combined_parcels = coos_county_parcels.merge(douglas_county_parcels)

agb_2021 = ee.Image('users/connorr/riley_agb_pnw_2021_feb10')
agb_2031 = ee.Image('users/connorr/riley_agb_pnw_2031_feb10')
agb_2051 = ee.Image('users/connorr/riley_agb_pnw_2051_feb10')

In [ ]:
def reduce_to_parcels_riley(image: ee.Image, parcels: ee.FeatureCollection, reducer: ee.Reducer):
  def _append_area_Acre(feature):
    # Convert to area in acres 
    return feature.set({"areaAcre": feature.geometry().area().divide(4046.86)}) 

  def _compute_total_carbon(feature):
    return feature.set({
        "total_carbon": (ee.Number(ee.List([feature.get("sum"), 0]).reduce(ee.Reducer.firstNonNull()))
          .multiply(ee.Number(feature.get("areaAcre"))) # scale to tons of C 
          .divide(10e3)  # convert to kilotons (imperial)
          .int64()  # cast as int
        )
      })

  parcel_data = image.select(["b1"], ["carbon_per_acre"]).reduceRegions(collection=parcels, reducer=reducer, scale=30)

  return parcel_data.map(_append_area_Acre).map(_compute_total_carbon)

In [ ]:
aoi = ee.Geometry.Polygon([[[-124.1, 43.38], [-124.1, 42.88], [-123.6, 42.88], [-123.6, 43.38]]])

In [ ]:
parcel_data_2031 = reduce_to_parcels_riley(agb_2031, combined_parcels, ee.Reducer.sum()).reduceToImage(properties=["total_carbon"], reducer=ee.Reducer.sum()).cast({"sum": "int64"})
# export = ee.batch.Export.image.toAsset(parcel_data_2031, "parcel_data_2031_riley", "users/connorr/parcel_data_2031_riley_agb_feb10", region=aoi, scale=30)
export = ee.batch.Export.map.toCloudStorage(
    image=parcel_data_2031, 
    description="riley-agb-parcel-data-2031",
    maxZoom=13,
    mapsApiKey="AIzaSyAVep4VB6dHIGNfOsXwqAKq0LmsRkoHyeI",
    bucket="gee-export-bucket",
    region=aoi
)
export.start()

In [ ]:
export.status()

{'state': 'UNSUBMITTED'}

In [ ]:
parcel_data_2031.reduceRegion(ee.Reducer.minMax(), aoi, 30).getInfo()

{'sum_max': 317643472, 'sum_min': 0}

In [ ]:
parcel_data_2051 = reduce_to_parcels_riley(agb_2051, combined_parcels, ee.Reducer.sum()).reduceToImage(properties=["total_carbon"], reducer=ee.Reducer.sum()).cast({"sum": "int64"})
# export2 = ee.batch.Export.image.toAsset(parcel_data_2051, "parcel_data_2051_riley", "users/connorr/parcel_data_2051_riley_agb_feb10", region=aoi, scale=30)
export2 = ee.batch.Export.map.toCloudStorage(
    image=parcel_data_2051, 
    description="riley-agb-parcel-data-2051",
    maxZoom=13,
    mapsApiKey="AIzaSyAVep4VB6dHIGNfOsXwqAKq0LmsRkoHyeI",
    bucket="gee-export-bucket",
    region=aoi
)

In [ ]:
parcel_data_baseline = reduce_to_parcels_riley(agb_2021, combined_parcels, ee.Reducer.sum()).reduceToImage(properties=["total_carbon"], reducer=ee.Reducer.sum()).cast({"sum": "int64"})
# export3 = ee.batch.Export.image.toAsset(parcel_data_baseline, "parcel_data_baseline_riley", "users/connorr/parcel_data_baseline_riley_agb_feb10", region=aoi, scale=30)
export3 = ee.batch.Export.map.toCloudStorage(
    image=parcel_data_baseline, 
    description="riley-agb-parcel-data-2021",
    maxZoom=13,
    mapsApiKey="AIzaSyAVep4VB6dHIGNfOsXwqAKq0LmsRkoHyeI",
    bucket="gee-export-bucket",
    region=aoi
)

In [ ]:
export.start()
export2.start()
export3.start()

In [ ]:
export2.status()

{'attempt': 1,
 'creation_timestamp_ms': 1613026754738,
 'description': 'riley-agb-parcel-data-2051',
 'destination_uris': ['https://console.developers.google.com/storage/browser/gee-export-bucket/riley-agb-parcel-data-2051/',
  'https://earth.google.com/web/?kml=https://earth-kml.appspot.com/?link%3Dhttps://storage.googleapis.com/gee-export-bucket/riley-agb-parcel-data-2051/$%255Blevel%255D/$%255Bx%255D/$%255By%255D%26icon%3Dhttps://storage.googleapis.com/earth-kml.appspot.com/no_icon.png%26name%3Driley-agb-parcel-data-2051%26north%3D43.38027227272329%26south%3D42.87999999999998%26east%3D-123.6%26west%3D-124.1%26minLevel%3D0%26maxLevel%3D13'],
 'id': 'IECDOGQXGXMOQNBCJ6OR62AD',
 'name': 'projects/earthengine-legacy/operations/IECDOGQXGXMOQNBCJ6OR62AD',
 'start_timestamp_ms': 1613026761026,
 'state': 'COMPLETED',
 'task_type': 'EXPORT_TILES',
 'update_timestamp_ms': 1613027618886}

In [ ]:
export3.status()

{'attempt': 1,
 'creation_timestamp_ms': 1613026755759,
 'description': 'riley-agb-parcel-data-2021',
 'destination_uris': ['https://console.developers.google.com/storage/browser/gee-export-bucket/riley-agb-parcel-data-2021/',
  'https://earth.google.com/web/?kml=https://earth-kml.appspot.com/?link%3Dhttps://storage.googleapis.com/gee-export-bucket/riley-agb-parcel-data-2021/$%255Blevel%255D/$%255Bx%255D/$%255By%255D%26icon%3Dhttps://storage.googleapis.com/earth-kml.appspot.com/no_icon.png%26name%3Driley-agb-parcel-data-2021%26north%3D43.38027227272329%26south%3D42.87999999999998%26east%3D-123.6%26west%3D-124.1%26minLevel%3D0%26maxLevel%3D13'],
 'id': 'H7WNVY5NENQIW3XSAJ42P4BP',
 'name': 'projects/earthengine-legacy/operations/H7WNVY5NENQIW3XSAJ42P4BP',
 'start_timestamp_ms': 1613026762440,
 'state': 'COMPLETED',
 'task_type': 'EXPORT_TILES',
 'update_timestamp_ms': 1613027253618}

In [ ]:
riley_AGB_pnw = ee.Image("users/connorr/riley_2021_AGB_WA_OR_feb11").select(["b1"], ["total_biomass_ton_per_acre"]).cast({"total_biomass_ton_per_acre": "int64"})
# export = ee.batch.Export.image.toAsset(parcel_data_2031, "parcel_data_2031_riley", "users/connorr/parcel_data_2031_riley_agb_feb10", region=aoi, scale=30)
export = ee.batch.Export.map.toCloudStorage(
    image=riley_AGB_pnw, 
    description="riley-agb-pnw",
    maxZoom=13,
    mapsApiKey="AIzaSyAVep4VB6dHIGNfOsXwqAKq0LmsRkoHyeI",
    bucket="gee-export-bucket",
    region=whole_pnw
)
export.start()

In [ ]:
export.status()

{'attempt': 1,
 'creation_timestamp_ms': 1613119463084,
 'description': 'riley-agb-pnw',
 'destination_uris': ['https://console.developers.google.com/storage/browser/gee-export-bucket/riley-agb-pnw/',
  'https://earth.google.com/web/?kml=https://earth-kml.appspot.com/?link%3Dhttps://storage.googleapis.com/gee-export-bucket/riley-agb-pnw/$%255Blevel%255D/$%255Bx%255D/$%255By%255D%26icon%3Dhttps://storage.googleapis.com/earth-kml.appspot.com/no_icon.png%26name%3Driley-agb-pnw%26north%3D49.00690993855541%26south%3D41.99999999999997%26east%3D-116.82000000000001%26west%3D-124.8%26minLevel%3D0%26maxLevel%3D13'],
 'id': 'D5YST3A54M7XOVDJZENGR4G3',
 'name': 'projects/earthengine-legacy/operations/D5YST3A54M7XOVDJZENGR4G3',
 'start_timestamp_ms': 1613119466110,
 'state': 'COMPLETED',
 'task_type': 'EXPORT_TILES',
 'update_timestamp_ms': 1613120270823}